body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    color: #333;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.postre {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.postre img {
    max-width: 100%;
    height: auto;
}
.nav-header {
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #d17f04;
    border: 0;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9d15f;
    padding: 13px 0px;

}
ul {
    background-color: #f3e193;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    background-color: #f3e193;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    background-color: #f3e193;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header h1 {
    margin: 0;
}

header {
    background-color: #f9d15f;
    display: flex;
}

.img-Logo {
    height: 100px;
    margin-right: 10rem;
    margin-left: 1rem;
}
.img-Slogan {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.input-buscador {
    margin-top: 23px;
    width: 668px;
}

.input-buscador {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 560px;
}

.input-buscador:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 6px rgba(102, 175, 233, 0.5);
}

.boton-buscar {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton-buscar:hover {
    background-color: #2980b9;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/img/Fondo.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
